<!--
 Copyright (c) 2016-2018, Thomas Hartmann

 This file is part of the OBOB Subject Database Project, see: https://gitlab.com/obob/obob_subjectdb/

    obob_subjectdb is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    obob_subjectdb is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with obob_subjectdb. If not, see <http://www.gnu.org/licenses/>.
-->

<form class="form-horizontal" id="participantCodeForm">
    <div class="form-group">
        <label class="col-sm-4 control-label" for="motherFirstName">Mother's first name</label>
        <div class="col-sm-8">
            <input type="text" class="form-control input-for-id" id="motherFirstName" required="required" minlength="3">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" for="motherMaidenName">Mother's maiden name</label>
        <div class="col-sm-8">
            <input type="text" class="form-control input-for-id" id="motherMaidenName" required="required" minlength="3">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" for="participantBirthday">Birthday of Participant</label>
        <div class="col-sm-8">
            <input type="date" class="form-control input-for-id" id="participantBirthday" required="required">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Participant Code</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="participantCode" readonly>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button class="btn btn-primary" type="submit">Ok</button>
        </div>
    </div>
</form>