{% comment %}
 Copyright (c) 2016-2018, Thomas Hartmann

 This file is part of the OBOB Subject Database Project, see: https://gitlab.com/obob/obob_subjectdb/

    obob_subjectdb is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    obob_subjectdb is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with obob_subjectdb. If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block dialog %}
    <div class="modal fade" tabindex="-1" role="dialog" id="{{ modal_id }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="{{ formId|default:"modal-form" }}" method="{{ formMethod|default:"get" }}" action="{{ formAction|default:"#" }}">
                    {% if formMethod == "post" %}
                        {% csrf_token %}
                    {% endif %}
                    <div class="modal-header">
                        {% if topCloseButton %}
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times</span> </button>
                        {% endif %}
                        <h4 class="modal-title">{{ title }}</h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ content }}</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ closeText }}</button>
                        <button id="okButton" class="btn {{ okButtonClass|default:"btn-primary" }}" type="submit">{{ okText }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

{% endblock script %}